input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    background-color: #ededed;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#top-banner {
  background-color: #fff;
}

#page_num {
    cursor: url('/static/images/double-tap.png'), auto;
}

#alert-flex-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index:9998;
  border-radius:0px;
}

#canvas-layers {
  position: relative;
}

#pdf-layer {
  position: absolute;
  left: 0;
  top: 0;
}

#ocr-layer {
  position: absolute;
  left: 0;
  top: 0;
}
